:root {
    --main-radius: 5px;
    --main-padding: 5px;
    background-color: black;
}

body {
    /*font-family: "CircularSp", sans-serif;*/
    /*font-family: "CircularSpotifyText", sans-serif;*/
    font-family: "SF Pro", sans-serif;
    /*color: white;*/
}
